<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% include ./partials/navigation %>
    <% if (user) { %>
      <h3>Welcome back <%= user.fullName %></h3>
    <% } else { %>
      <h3>Welcome to the Members Only Club!</h3>
    <% } %>
  </body>
</html>
