<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1><%= title %></h1>

  <% if (typeof errors !== 'undefined') { %>
    <div class="form-errors">
      <p>Form submission failed with the following errors:</p>
      <ul>
        <% for (let i = 0; i < errors.length; i++) { %>
          <li><%= errors[i].msg %></li>
        <% } %>
      </ul>
     </div>
  <% } %>

    <form action="/message" method="POST">
      <label for="title">Message Title</label>
      <input type="text" name="title" placeholder="Your Title">
      <label for="body">Message Body</label>
      <input type="text" name="body" placeholder="Your message here...">
      <input type="submit" value="Submit">
    </form>
</body>
</html>